* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #09091d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input {
    border: 2px solid white;
    width: 600px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
}
button {
    background-color: white;
    color: black;
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(20, 201, 162);
    color: rgb(31, 21, 21);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
th {
    background-color: rgb(20, 201, 162);
    color: black;
}
td {
    background-color: #1e1e3f;
    color: white;
}
.coin-img {
    display: flex;
    align-items: center;
}
.coin-img img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}